
/* ------------------------------------------------------------------------------*/
/* Footer */
/* ------------------------------------------------------------------------------*/

footer {
    background: black;
    color: var(--text-invert);
    padding: 32px 80px 24px;
    margin-top: 40px;
    padding-inline: 24px;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-about {
    flex: 1 1 60%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    opacity: 0.9;
    color: white;
  }
  
  .footer-divider {
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 16px;
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-logo-selection {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .footer-logo-img {
    width: clamp(80px, 10vw, 140px);
    height: auto;
    border-radius: 5px;
  }
  
  .footer-copy {
    font-size: 12px;
    color: white;
    text-align: right;
    padding-right: 12px;
    margin-bottom: -40px;
  }