/* ------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------*/
/* ----------------------- header 레이아웃 ---------------------------*/
/* ------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--nav-h);
  padding: var(--nav-vpad) 5%;
  color: #fff;
  transition: background .25s ease, backdrop-filter .25s ease;
}

header a {
  color: inherit;
  text-decoration: none;
}

header .material-symbols-outlined {
  color: currentColor;
}

header .header-search {
  width: 210px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 4px;
}

header .header-search input {
  background: none;
  border: none;
  color: #ffffff;
}

header .header-search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

header .header-search .material-symbols-outlined {
  font-size: 20px;
  color: #ffffff;
}


.logo img {
  height: calc(var(--nav-h) - 2 * var(--nav-vpad));
  width: auto;
  display: block;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 28px;
}

nav ul {
  display: flex;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ♥️새로 추가!!!!!!!!!!!!!♥️ */
nav a {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.92rem;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-text-stroke: 0.45px;
}

nav a:hover {
  color: var(--accent);
}

.icons {
  display: flex;
  gap: 18px;
}

/* 불투명 → 반투명 */
@keyframes opaqueToSemi {
  0% {
    background: rgba(0,0,0, 1);
    backdrop-filter: blur(0px);
  }

  100% {
    background: rgba(0,0,0, .9);
    backdrop-filter: blur(5px);
  }
}

/* 투명 → 반투명*/
@keyframes transparentToSemi {
  0% {
    background: rgba(0,0,0, 0);
    backdrop-filter: blur(0px);
  }

  100% {
    background: rgba(0,0,0,0.9);
    backdrop-filter: blur(5px);
  }
}

/*  홈/결제/상품상세
   불투명 -> 반투명+블러*/
body.home-page header,
body.payment header,
body.product-detail header {
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(4px);
  animation: opaqueToSemi both linear;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
}

/*쇼핑리스트/멤버십
   투명 -> 반투명+블러*/
body.shopping-list header,
body.membership header {
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(4px);
  animation: transparentToSemi both linear;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
}
